.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* background-color: #000000;   */
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
  }

