@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome to CineFlix</h1>
</div> *@
<html>
<head>
    @* @section Scripts
    {
        <script type="text/javascript">
            function preventBack() {window.history.forward(); }
            setTimeout{"preventBack()", 0};
            window.onunload = function {} {null};
        </script>
    } *@
</head>
    <body>
        <div class="image-container">
            <img src="/assets/CineFlixImg1.png" alt="image" style="width:1100px; height:450px;">
            <div class="overlay-text">CINEFLIX</div>
        </div>
    </body>
</html>


