html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* background-color: #B2BEB5; */
}

.navbar
{
  background-color: #98aeb6;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item {
  color: #fff;
  border-color: #1861ac;
  /* border-radius: 30px; */
  transition: 0.5s;
  /* border-radius: 30px; */
  }

.nav-link, .nav-link:active {
  /* color: #fff; */
  /* background-color: #d9c2ba; */
  /* border-color: #1861ac; */
  /* border-radius: 30px; */
  transition: 0.5s;
}

.nav-link:hover {
  color: white;
  background-color: #48e0e4;
  /* border-radius: 30px; */
  transition: 0.5s;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  background-color: #d9c2ba;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}