@{
    ViewData["Title"] = "Customer Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer</h1>
</div>

<div>
    <img src='/assets/CineFlixImg1.png' alt='image'  style="width:1100px; height:350px;">
</div>